<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Gymformation </h3>

        <p class="footer-links">
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">Home</a>
            ·
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">Blog</a>
            ·
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">Pricing</a>
            ·
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">About</a>
            ·
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">Faq</a>
            ·
            <a href="mailto:martinek3@hawkmail.newpaltz.edu">Contact</a>
        </p>

        <p class="footer-company-name">Gymformation © 2017</p>
        <p class="footer-company-name">Kevyn Martinez </p>
        <p class="footer-company-name" id="slogan">Work smarter, not harder.</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <span>1000 Hawk Drive</span> New Paltz, New York</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>516-713-0515</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p>
                <a href="mailto:martinek3@hawkmail.newpaltz.edu">martinek3@hawkmail.newpaltz.edu</a>
            </p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About Gymformation</span>
            Gymformation is a place to learn how to lift properly and track your progress.
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/" target="_blank">
                <img class="card-img-top" src="assets/img/facebook.png" alt="Card image cap">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img class="card-img-top" src="assets/img/twitter.png" alt="Card image cap">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <img class="card-img-top" src="assets/img/linkedin.png" alt="Card image cap">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/Kevyn-Martinez/Fitness_Traker" target="_blank">
                <img class="card-img-top" src="assets/img/github.png" alt="Card image cap">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://www.instagram.com/kev.yn/" target="_blank">
                <img class="card-img-top" src="assets/img/instagram.png" alt="Card image cap">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</footer>