
body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
    }
    
#overlay {
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
}