<div class="container">
    <div id="grad" class="jumbotron">
        <h3 >Challenge your body to an extreme workout.</h3>
  
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1KGU6iB5MVE?" frameborder="0" allowfullscreen controls autoplay></iframe>
          </div>
    </div>
  
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="assets/img/Exercises.gif" alt="Exercises">
                <div class="card-body">
                    <h4 class="card-title">Exercises</h4>
                    <p class="card-text">Click here ot explore our exercise list and add them to your have done and can do lists.</p>
                    <div class="w3-center">
                        <a routerLink="/exercises" class="btn btn-primary btn" text-align:center>Exercises</a>
                    </div>
                </div>
            </div>
  
        </div>
      
        <div class="col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="assets/img/login.jpg" alt="Login">
                <div class="card-body">
                    <h4 class="card-title">Login</h4>
                    <p class="card-text">Login to manage your workouts</p>
                    <a routerLink="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
  
        </div>
  
    </div>
  </div>